@model IEnumerable<WebApplication1.Models.Employee>

@{
    ViewData["Title"] = "Index";
}


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ename)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Update", new { eno = item.Eno })|
                        @Html.ActionLink("Delete", "Delete", new { eno = item.Eno })

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Employee"
       asp-action="Create">Create</a>
}

