@model IEnumerable<WebApplication1.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

@*@using (Html.BeginForm("Index", "Employee", FormMethod.Post))
    {

        <br />
        <table border="1" cellpadding="1" cellspacing="1">
            <tr>
                <th>Eno</th>
                <th>Ename</th>
                <th>Salary</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Eno</td>
                    <td>@item.Ename</td>
                    <td>@item.Salary</td>
                </tr>
            }
        </table>
    }*@

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ename)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Eno">Edit</a> |
                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Eno">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Employee"
       asp-action="Create">Create</a>

}

